* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  height: 100vh;
  background: url(/src/assets/mobile/bg-image-daytime.jpg) no-repeat center
    fixed;
  background-size: cover;
  @media (min-width: 768px) {
    background: url(/src/assets/tablet/bg-image-daytime.jpg) no-repeat center;
    background-size: cover;
  }
  @media (min-width: 992px) {
    background: url(/src/assets/desktop/bg-image-daytime.jpg) no-repeat center;
    background-size: cover;
  }
  z-index: -1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.7);
    z-index: -1;
  }

  .celestial-icon {
    width: 30px;
    height: 30px;
    background: url(/src/assets/desktop/icon-sun.svg) no-repeat center;
  }
}

body.night {
  background: url(/src/assets/mobile/bg-image-nighttime.jpg) no-repeat center
    fixed;
  background-size: cover;
  @media (min-width: 768px) {
    background: url(/src/assets/tablet/bg-image-nighttime.jpg) no-repeat center;
    background-size: cover;
  }
  @media (min-width: 992px) {
    background: url(/src/assets/desktop/bg-image-nighttime.jpg) no-repeat center;
    background-size: cover;
  }

  .celestial-icon {
    background: url(/src/assets/desktop/icon-moon.svg) no-repeat center;
  }

  .footer {
    background: rgba($color: $black, $alpha: 0.75);
    color: $white;
  }
}

.container {
  padding: 1.875rem;
  @media (min-width: 768px) {
    padding: 2.75rem 5rem;
  }
  @media (min-width: 992px) {
    padding: 2.75rem 7.125rem;
  }
}
