.more-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    align-self: flex-end;
  }
  margin-top: 3.25em;
  cursor: pointer;
  font-size: 14px;
  @media (min-width: 1440px) {
    font-size: 19px;
  }
  @media (min-width: 1920px) {
    font-size: 24px;
  }
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: $gray;
  background: $white;
  width: 8.25em;
  height: 3.25em;
  border-radius: 50px;
  padding: 0.3em 0.3em 0.3em 1.1em;

  .arrow-icon {
    transform: rotate(180deg);
    width: 2.35em;
    height: 2.45em;
  }

  &:focus {
    outline: 2px dashed $white;
  }
}
