.quote {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.6em;
  grid-column-gap: 0.625em;
  font-size: 13px;
  @media (min-width: 768px) {
    max-width: 75%;
    font-size: 15px;
  }
  @media (min-width: 992px) {
    max-width: calc(50% + 10em);
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    font-size: 21px;
  }
  @media (min-width: 1920px) {
    font-size: 26px;
  }
  line-height: 1.8em;

  h3 {
    margin-top: 0.65em;
  }

  svg {
    cursor: pointer;
    &:focus {
      outline: 2px dashed $white;
    }
  }
}
