@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 6.25em;
  font-weight: 700;
}

h1 span {
  font-size: 1rem;
  font-weight: 400;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  height: 100vh;
  background: url(/src/assets/mobile/bg-image-daytime.jpg) no-repeat center fixed;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}

@media (min-width: 768px) {
  body {
    background: url(/src/assets/tablet/bg-image-daytime.jpg) no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  body {
    background: url(/src/assets/desktop/bg-image-daytime.jpg) no-repeat center;
    background-size: cover;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

body.night {
  background: url(/src/assets/mobile/bg-image-nighttime.jpg) no-repeat center fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  body.night {
    background: url(/src/assets/tablet/bg-image-nighttime.jpg) no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  body.night {
    background: url(/src/assets/desktop/bg-image-nighttime.jpg) no-repeat center;
    background-size: cover;
  }
}

body.night .footer {
  background: rgba(0, 0, 0, 0.75);
  color: #fefefe;
}

.container {
  padding: 1.875rem;
}

@media (min-width: 768px) {
  .container {
    padding: 2.75rem 5rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 2.75rem 7.125rem;
  }
}

.clock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .clock-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clock {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
  font-weight: 700;
}

.clock span {
  font-size: 1rem;
}

.clock .location,
.clock .greeting {
  letter-spacing: 0.25rem;
  text-indent: 0.25rem;
}

.clock .greeting {
  position: relative;
  font-weight: 400;
  margin-left: 2.5rem;
}

.clock .greeting .celestial-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -2.5rem;
  display: block;
}

.clock .text {
  display: none;
}

@media (min-width: 768px) {
  .clock .text {
    display: inline-block;
  }
}

.quote {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1.6em;
      grid-template-columns: 1fr 1.6em;
  grid-column-gap: 0.625em;
  font-size: 13px;
  line-height: 1.8em;
}

@media (min-width: 768px) {
  .quote {
    max-width: 75%;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .quote {
    max-width: calc(50% + 10em);
    font-size: 16px;
  }
}

.quote h3 {
  margin-top: 0.65em;
}

.quote svg {
  cursor: pointer;
}

.quote svg:focus {
  outline: 2px dashed #fefefe;
}

.more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.25em;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: rgba(100, 99, 99, 0.933);
  background: #fefefe;
  width: 8.25em;
  height: 3.25em;
  border-radius: 50px;
  padding: 0.3em 0.3em 0.3em 1.1em;
}

@media (min-width: 768px) {
  .more-button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.more-button .arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 2.35em;
  height: 2.45em;
}

.more-button:focus {
  outline: 2px dashed #fefefe;
}

.footer {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 10px;
  letter-spacing: 0.1rem;
  background: rgba(254, 254, 254, 0.75);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  height: 16rem;
}

@media (min-width: 768px) {
  .footer {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .footer {
    font-size: 14px;
  }
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h4 {
  font-size: 2.2em;
}

.footer p {
  font-size: 1em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .dayYear-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .weekNumber-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer h4 {
    margin-top: 0.3em;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fefefe;
  height: 100vh;
}
/*# sourceMappingURL=App.css.map */